<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herdeliaslegacy.openpixelengine" >
    <application
        android:theme="@style/noAnimTheme">
        <activity
            android:name=".Activity.Level_Activity"
            android:label="@string/title_activity_level_"
            android:screenOrientation="sensorLandscape"
            android:hardwareAccelerated="true">
        </activity>
    </application>

</manifest>
